/* Adding this now, but not currently being used */
@font-face {font-family: 'Oxygen';font-weight:300;src: url('chrome-extension://__MSG_@@extension_id__/fonts/Oxygen-Regular.ttf') format('ttf')};
@font-face {font-family: 'Oxygen';font-weight:100;src: url('chrome-extension://__MSG_@@extension_id__/fonts/Oxygen-Light.ttf') format('ttf')};
@font-face {font-family: 'Oxygen';font-weight:700;src: url('chrome-extension://__MSG_@@extension_id__/fonts/Oxygen-Bold.ttf') format('ttf')};
