/* Adding this now, but not currently being used */


/* Find Stickers (the name for Skills Emojis)*/
.message-sticker {
	background: transparent !important;
}

	/* The Sparks Cost Section */
	.message-sticker .sticker bui-icon,
	.message-sticker .sticker .cost_number {
		display: none;
	}

	/* The Sticker Image itself */
	.message-sticker .sticker .sticker_img {
		max-width: 32px;
		max-height: 32px;
		padding: 0 !important;
	}
